<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="title" value="{{album.Title}}"/>
        </div>
        <div>
            <label>Artist</label>
            <select name="artist">
                {% for artist in all_artists %}                    
                    <option value='{{artist.ArtistId}}' {%if artist.ArtistId==album.ArtistId%} selected {%endif%}>{{artist.Name}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit"/>

    </form>
</body>
</html>